.moka-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .section_one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-color: #fff;
    margin-bottom: 20px;
  }
  
  .section_one .image-wrapper {
    width: 600px;
    height: 500px;
    margin-top: 10px;
    /* margin-bottom: 20px; */
  }
  
  .section_one .coffee-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 50%; */
  }
  
  .section_one h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .section_one button {
    padding: 20px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }
  .section_one button:hover {
    background-color: rgb(78, 76, 76);
  }
  
  .section_two {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .product {
    border: 1px solid rgb(176, 174, 174);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .product .product-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    transition: transform 0.3s;
  }
  
  .product:hover .product-image {
    transform: scale(1.1);
  }
  
  .product h3 {
    font-size: 16px;
    margin-right: 60%;

  }
  
  .product p {
    font-size: 14px;
    font-weight: bold;
    margin-left: 80%;
    margin-top: -15px;
  }
  