/* Slider Styles */

.carousel-slide {
    position: relative;
  }
  
  .carousel-slide img {
    width: 100%;
    height: 90vh;
  }
  
  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(154, 247, 5);
  }
  
  .carousel-caption h1 {
    font-size: 4.5rem;
    margin-bottom: 10px;
    /* margin-right: 80%; */
  }
  
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  
  .carousel-caption button {
    margin-top: 10px;
    background-color: rgb(154, 247, 5);
    color: black;
    font-weight: bold;
    padding: 20px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }

  .carousel-caption button:hover {
    background-color: rgb(75, 116, 11);
  }

  .carousel-caption_2 {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(201, 25, 145);;
  }
  
  .carousel-caption_2 h1 {
    font-size: 4.5rem;
    margin-bottom: 10px;
    /* margin-right: 80%; */
  }
  
  .carousel-caption_2 p {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  
  .carousel-caption_2 button {
    margin-top: 10px;
    background-color: rgb(201, 25, 145);
    color: black;
    font-weight: bold;
    padding: 20px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }


  .carousel-caption_3 {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(99, 246, 189);;
  }
  
  .carousel-caption_3 h1 {
    font-size: 4.5rem;
    margin-bottom: 10px;
    /* margin-right: 80%; */
  }
  
  .carousel-caption_3 p {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  
  .carousel-caption_3 button {
    margin-top: 10px;
    background-color: rgb(8, 223, 104);
    color: black;
    font-weight: bold;
    padding: 20px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }


  .carousel-caption_4 {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(220, 9, 9);;
  }
  
  .carousel-caption_4 h1 {
    font-size: 4.5rem;
    margin-bottom: 10px;
    /* margin-right: 80%; */
  }
  
  .carousel-caption_4 p {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  
  .carousel-caption_4 button {
    margin-top: 10px;
    background-color: rgb(205, 227, 215);
    color: black;
    font-weight: bold;
    padding: 20px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }
  



  
/* Styles for tablets */
@media (max-width: 991px) {
  .carousel-caption h1 {
    font-size: 20px;
  }

  .carousel-caption p {
    font-size: 14px;
  }

  .carousel-caption button {
    font-size: 14px;
  }
}

/* Styles for mobile */
@media (max-width: 767px) {
  .carousel-caption h1 {
    font-size: 18px;
  }

  .carousel-caption p {
    font-size: 12px;
  }

  .carousel-caption button {
    font-size: 12px;
  }
}