.Product_Top_Button_Div{
    display: flex;
    text-align: left;
    gap: 10px;
    border-bottom: 1px solid rgba(182, 181, 181, 0.418);
    padding-bottom: 10px;
}
.Product_Top_Button_Div > button{
    padding: 6px 15px 6px 15px;
    border-radius: 20px;
    border: 1px solid rgba(253, 253, 253, 0.747);
    transition:0.3s;
    transition-duration: .5s;
    transition-timing-function: ease-in;
    font-weight: 600;
}
.Product_Filter_Div{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 2%;
    
}
.Product_Heading_Div > h1{
    font-size: 32px;
    font-weight: 650;
}
.Product_Heading_InnerDiv > p{
    font-size: 16px;
    padding-top: 10px;
}

.Product_Filter_Div > select{
    border: none;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid;
}


.Product_Top_Button_Div > button:active, button:focus {
    background-color: maroon;
    color: white;
    border: none;
}

.Product_Heading_InnerDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 2;
    padding-top: 2;
    padding-bottom: 2%;
}
.Product_Heading_Div > h1 {
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0;
    /* border: 1px solid; */

}

.Product_Items_Div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    font-weight: 600;
    
}

.Product_Item{
    box-shadow: rgba(255, 255, 255, 0.05) 0px 6px 24px 0px, rgba(172, 172, 172, 0.205) 0px 0px 0px 1px;
    padding: 12px;
    border-radius: 4px;

}


.Product_Image_Div{
    background-color: rgba(234, 247, 247, 0.671);
}

.Product_Items_Div > div > div > img{
        width: 100%;
        padding: 8px;
   
}

.Product_title_Div{
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}